<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://localhost/chart2/style.css">
    <title>Flask Highcharts Live Data Demo</title>
    <script>
        window.setInterval('refresh()', 60000); 	
        // Call a function every 10000 milliseconds 
        // (OR 10 seconds).
    
        // Refresh or reload page.
        function refresh() {
            window.location.reload();
        }
    </script>
    
    <!--Added -->

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>


</head>
<body>
    <header>
        <h2>WATCHER</h2>
      </header>



<div class="main">
   <div class="left-panel"><a href="page2.html">Go to Page 2</a></div>


<div class="right-panel">

    <div  id="container1"  style="height: 400px; width: 400px; float:right; margin: 5px; border: 1px solid #ccc"></div>
    <div  id="container2"  style="height: 400px; width: 400px; float:right; margin: 5px; border: 1px solid #ccc"></div>
    <div  id="container3"  style="height: 400px; width: 400px; float:right; margin: 5px; border: 1px solid #ccc"></div>
 

    <div id="container4"  style="height: 400px; width: 400px; float:right; margin:5px; border: 1px solid #ccc"></div>
    <div id="container5"  style="height: 400px; width: 400px; float:right; margin:5px; border: 1px solid #ccc"></div>
    <div id="container6"  style="height: 400px; width: 400px; float:right; margin:5px; border: 1px solid #ccc"></div>
    <!--div style="clear: both;"></div-->

</div>
</div>

<style>
    .main{
        display: grid;
        grid-template-columns: 13% auto;
        height: auto;

    }
    .left-panel{
        background-color: darkgray;
    }
    .right-panel{
        background-color: rgb(255, 255, 255);
    }
    header{
        background: #666;
        color: white;
        min-height: 50px;
        text-align: center;
    }
</style>

<script type="text/javascript" language="javascript">

var seriesOptions = [],
    seriesCounter = 0,
    names = ['PE17350', 'CE17350'];
	names2 = ['PE17400', 'CE17400'];
	names3 = ['PE17450', 'CE17450'];
	cont = 1;

/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */

function createChart(cont,settitle) {

	var container = 'container'+cont;
	// alert(cont);
	
    Highcharts.stockChart(container, {
	

        rangeSelector: {
            selected: 4
            },
        time: {
		        timezoneOffset: new Date().getTimezoneOffset()
            },
        title: {
                text: "NIFTY: " + settitle // 
            },
        colors:['#C70039', '#4C8E1B'], //chart line color Red and Green
        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: seriesOptions
    });
}


//chart 1
function success(data) {

    var name = this.url.match(/(PE17350|CE17350)/)[0];
//alert(name);
	
    var i = names.indexOf(name);
    seriesOptions[i] = {
        name: name,
        data: data
    };

    // As we're loading the data asynchronously, we don't know what order it
    // will arrive. So we keep a counter and create the chart when all the data is loaded.
    seriesCounter += 1;

    if (seriesCounter === names.length) {
        
			createChart(1,'17350');
			
			seriesCounter=0;
			//alert(name);
		
    }
}

Highcharts.getJSON(
    //'https://cdn.jsdelivr.net/gh/Niftyinvest18/nifty@main/PE17350.json',
    'PE17350.json',
    success
);
Highcharts.getJSON(
   // 'https://cdn.jsdelivr.net/gh/Niftyinvest18/nifty@main/CE17350.json',
    'CE17350.json',
    success
);


</script>

</body>
</html>